In [1]:
!pip install nltk -U
!pip install bs4 -U

Collecting nltk
  Using cached nltk-3.7-py3-none-any.whl (1.5 MB)
Requirement already satisfied, skipping upgrade: click in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (7.0)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (4.42.1)
Collecting regex>=2021.8.3
  Downloading regex-2022.3.15-cp37-cp37m-win_amd64.whl (273 kB)
Requirement already satisfied, skipping upgrade: joblib in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (0.14.1)
Installing collected packages: regex, nltk
  Attempting uninstall: nltk
    Found existing installation: nltk 3.4.5
    Uninstalling nltk-3.4.5:
      Successfully uninstalled nltk-3.4.5
Successfully installed nltk-3.7 regex-2022.3.15
Requirement already up-to-date: bs4 in c:\users\lenovo\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied, skipping upgrade: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4) (4.8.2)
Requirement already satisfied, skipping upgrade: soupsieve>=1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.5)

In [6]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [12]:
import nltk
para = '''Many constructions and structures on Raigad were built by Chhatrapati Shivaji Maharaj and Chief
        Engineer was Hirojee Indulkar. When Chhatrapati Shivaji Maharaj made it his capital in 1674 upon being 
        crowned the king of the Maratha kingdom, which later developed into the Maratha Empire, 
        eventually covering much of western and central India.'''

In [13]:
print(para)

Many constructions and structures on Raigad were built by Chhatrapati Shivaji Maharaj and Chief
        Engineer was Hirojee Indulkar. When Chhatrapati Shivaji Maharaj made it his capital in 1674 upon being
        crowned the king of the Maratha kingdom, which later developed into the Maratha Empire,
        eventually covering much of western and central India.

In [14]:
para.split()

['Many',
 'constructions',
 'and',
 'structures',
 'on',
 'Raigad',
 'were',
 'built',
 'by',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'and',
 'Chief',
 'Engineer',
 'was',
 'Hirojee',
 'Indulkar.',
 'When',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'made',
 'it',
 'his',
 'capital',
 'in',
 '1674',
 'upon',
 'being',
 'crowned',
 'the',
 'king',
 'of',
 'the',
 'Maratha',
 'kingdom,',
 'which',
 'later',
 'developed',
 'into',
 'the',
 'Maratha',
 'Empire,',
 'eventually',
 'covering',
 'much',
 'of',
 'western',
 'and',
 'central',
 'India.']

In [15]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [16]:
sent = sent_tokenize(para)

In [17]:
sent[1]

'When Chhatrapati Shivaji Maharaj made it his capital in 1674 upon being \n        crowned the king of the Maratha kingdom, which later developed into the Maratha Empire, \n        eventually covering much of western and central India.'

In [18]:
sent[0]

'Many constructions and structures on Raigad were built by Chhatrapati Shivaji Maharaj and Chief\n        Engineer was Hirojee Indulkar.'

In [19]:
words = word_tokenize(para)

In [20]:
words

['Many',
 'constructions',
 'and',
 'structures',
 'on',
 'Raigad',
 'were',
 'built',
 'by',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'and',
 'Chief',
 'Engineer',
 'was',
 'Hirojee',
 'Indulkar',
 '.',
 'When',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'made',
 'it',
 'his',
 'capital',
 'in',
 '1674',
 'upon',
 'being',
 'crowned',
 'the',
 'king',
 'of',
 'the',
 'Maratha',
 'kingdom',
 ',',
 'which',
 'later',
 'developed',
 'into',
 'the',
 'Maratha',
 'Empire',
 ',',
 'eventually',
 'covering',
 'much',
 'of',
 'western',
 'and',
 'central',
 'India',
 '.']

In [21]:
from nltk.corpus import stopwords

In [22]:
swords = stopwords.words('english')

In [23]:
swords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [24]:
x = [word for word in words if word.lower() not in swords]

In [25]:
x

['Many',
 'constructions',
 'structures',
 'Raigad',
 'built',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'Chief',
 'Engineer',
 'Hirojee',
 'Indulkar',
 '.',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'made',
 'capital',
 '1674',
 'upon',
 'crowned',
 'king',
 'Maratha',
 'kingdom',
 ',',
 'later',
 'developed',
 'Maratha',
 'Empire',
 ',',
 'eventually',
 'covering',
 'much',
 'western',
 'central',
 'India',
 '.']

In [26]:
from nltk.stem import PorterStemmer

In [27]:
ps = PorterStemmer()

In [28]:
ps.stem('working')

'work'

In [29]:
y = [ps.stem(word) for word in x]

In [30]:
y

['mani',
 'construct',
 'structur',
 'raigad',
 'built',
 'chhatrapati',
 'shivaji',
 'maharaj',
 'chief',
 'engin',
 'hiroje',
 'indulkar',
 '.',
 'chhatrapati',
 'shivaji',
 'maharaj',
 'made',
 'capit',
 '1674',
 'upon',
 'crown',
 'king',
 'maratha',
 'kingdom',
 ',',
 'later',
 'develop',
 'maratha',
 'empir',
 ',',
 'eventu',
 'cover',
 'much',
 'western',
 'central',
 'india',
 '.']

In [31]:
from nltk.stem import WordNetLemmatizer

In [32]:
wnl = WordNetLemmatizer()

In [33]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [34]:
wnl.lemmatize('working', pos='v')

# a - adjective
# n- noun
# r - adverb

'work'

In [36]:
print(ps.stem('went'))
print(wnl.lemmatize('went',pos='v'))

went
go

In [38]:
z = [wnl.lemmatize(word, pos='v') for word in x]

In [39]:
z

['Many',
 'constructions',
 'structure',
 'Raigad',
 'build',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'Chief',
 'Engineer',
 'Hirojee',
 'Indulkar',
 '.',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'make',
 'capital',
 '1674',
 'upon',
 'crown',
 'king',
 'Maratha',
 'kingdom',
 ',',
 'later',
 'develop',
 'Maratha',
 'Empire',
 ',',
 'eventually',
 'cover',
 'much',
 'western',
 'central',
 'India',
 '.']

In [40]:
import string

In [41]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [43]:
t = [word for word in words if word not in string.punctuation]

In [44]:
t

['Many',
 'constructions',
 'and',
 'structures',
 'on',
 'Raigad',
 'were',
 'built',
 'by',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'and',
 'Chief',
 'Engineer',
 'was',
 'Hirojee',
 'Indulkar',
 'When',
 'Chhatrapati',
 'Shivaji',
 'Maharaj',
 'made',
 'it',
 'his',
 'capital',
 'in',
 '1674',
 'upon',
 'being',
 'crowned',
 'the',
 'king',
 'of',
 'the',
 'Maratha',
 'kingdom',
 'which',
 'later',
 'developed',
 'into',
 'the',
 'Maratha',
 'Empire',
 'eventually',
 'covering',
 'much',
 'of',
 'western',
 'and',
 'central',
 'India']

In [45]:
from nltk import pos_tag

In [46]:
pos_tag(t)

[('Many', 'JJ'),
 ('constructions', 'NNS'),
 ('and', 'CC'),
 ('structures', 'NNS'),
 ('on', 'IN'),
 ('Raigad', 'NNP'),
 ('were', 'VBD'),
 ('built', 'VBN'),
 ('by', 'IN'),
 ('Chhatrapati', 'NNP'),
 ('Shivaji', 'NNP'),
 ('Maharaj', 'NNP'),
 ('and', 'CC'),
 ('Chief', 'NNP'),
 ('Engineer', 'NNP'),
 ('was', 'VBD'),
 ('Hirojee', 'NNP'),
 ('Indulkar', 'NNP'),
 ('When', 'WRB'),
 ('Chhatrapati', 'NNP'),
 ('Shivaji', 'NNP'),
 ('Maharaj', 'NNP'),
 ('made', 'VBD'),
 ('it', 'PRP'),
 ('his', 'PRP$'),
 ('capital', 'NN'),
 ('in', 'IN'),
 ('1674', 'CD'),
 ('upon', 'IN'),
 ('being', 'VBG'),
 ('crowned', 'VBN'),
 ('the', 'DT'),
 ('king', 'NN'),
 ('of', 'IN'),
 ('the', 'DT'),
 ('Maratha', 'NNP'),
 ('kingdom', 'NN'),
 ('which', 'WDT'),
 ('later', 'RB'),
 ('developed', 'VBD'),
 ('into', 'IN'),
 ('the', 'DT'),
 ('Maratha', 'NNP'),
 ('Empire', 'NNP'),
 ('eventually', 'RB'),
 ('covering', 'VBG'),
 ('much', 'JJ'),
 ('of', 'IN'),
 ('western', 'JJ'),
 ('and', 'CC'),
 ('central', 'JJ'),
 ('India', 'NNP')]

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
tfidf = TfidfVectorizer()

In [49]:
v = tfidf.fit_transform(t)

In [50]:
v.shape

(52, 43)

In [51]:
import pandas as pd
pd.DataFrame(v)

                 0
0     (0, 28)\t1.0
1      (0, 9)\t1.0
2      (0, 1)\t1.0
3     (0, 35)\t1.0
4     (0, 32)\t1.0
5     (0, 33)\t1.0
6     (0, 39)\t1.0
7      (0, 3)\t1.0
8      (0, 4)\t1.0
9      (0, 7)\t1.0
10    (0, 34)\t1.0
11    (0, 27)\t1.0
12     (0, 1)\t1.0
13     (0, 8)\t1.0
14    (0, 14)\t1.0
15    (0, 38)\t1.0
16    (0, 16)\t1.0
17    (0, 20)\t1.0
18    (0, 41)\t1.0
19     (0, 7)\t1.0
20    (0, 34)\t1.0
21    (0, 27)\t1.0
22    (0, 26)\t1.0
23    (0, 22)\t1.0
24    (0, 17)\t1.0
25     (0, 5)\t1.0
26    (0, 18)\t1.0
27     (0, 0)\t1.0
28    (0, 37)\t1.0
29     (0, 2)\t1.0
30    (0, 11)\t1.0
31    (0, 36)\t1.0
32    (0, 23)\t1.0
33    (0, 31)\t1.0
34    (0, 36)\t1.0
35    (0, 29)\t1.0
36    (0, 24)\t1.0
37    (0, 42)\t1.0
38    (0, 25)\t1.0
39    (0, 12)\t1.0
40    (0, 21)\t1.0
41    (0, 36)\t1.0
42    (0, 29)\t1.0
43    (0, 13)\t1.0
44    (0, 15)\t1.0
45    (0, 10)\t1.0
46    (0, 30)\t1.0
47    (0, 31)\t1.0
48    (0, 40)\t1.0
49     (0, 1)\t1.0
50     (0, 6)\t1.0
51    (0, 19)\t1.0