In [1]:
import pandas as pd

In [39]:
df = pd.read_csv('BostonHousing.csv')
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [40]:
x = df.drop('medv', axis=1)

In [41]:
y = df['medv']

In [42]:
x.shape

(506, 13)

In [56]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=0)

In [57]:
x_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
245,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330,19.1,389.13,18.46
59,0.10328,25.0,5.13,0,0.453,5.927,47.2,6.9320,8,284,19.7,396.90,9.22
276,0.10469,40.0,6.41,1,0.447,7.267,49.0,4.7872,4,254,17.6,389.25,6.05
395,8.71675,0.0,18.10,0,0.693,6.471,98.8,1.7257,24,666,20.2,391.98,17.12
416,10.83420,0.0,18.10,0,0.679,6.782,90.8,1.8195,24,666,20.2,21.57,25.79

In [58]:
x_train.shape

(379, 13)

In [59]:
x_test.shape

(127, 13)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
regressor = LinearRegression()

In [62]:
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
regressor.coef_

array([-1.17735289e-01,  4.40174969e-02, -5.76814314e-03,  2.39341594e+00,
       -1.55894211e+01,  3.76896770e+00, -7.03517828e-03, -1.43495641e+00,
        2.40081086e-01, -1.12972810e-02, -9.85546732e-01,  8.44443453e-03,
       -4.99116797e-01])

In [64]:
regressor.intercept_

36.93325545711911

In [65]:
y_pred = regressor.predict(x_test)

In [66]:
result = pd.DataFrame({'Actual':y_test,
                      'Ppreducted':y_pred})

In [67]:
result

     Actual  Ppreducted
329    22.6   24.952333
371    50.0   23.616997
219    23.0   29.205886
403     8.3   11.960705
78     21.2   21.333620
..      ...         ...
49     19.4   17.538048
498    21.2   21.502223
309    20.3   23.632813
124    18.8   20.282598
306    33.4   35.179734

[127 rows x 2 columns]

In [68]:
residual_error = abs(y_test - y_pred)

In [69]:
residual_error

329     2.352333
371    26.383003
219     6.205886
403     3.660705
78      0.133620
         ...
49      1.861952
498     0.302223
309     3.332813
124     1.482598
306     1.779734
Name: medv, Length: 127, dtype: float64

In [70]:
sum(residual_error) / len(residual_error)

3.6683301481357202

In [71]:
from sklearn.metrics import mean_absolute_error

In [72]:
mean_absolute_error(y_pred, y_test)

3.66833014813572

In [114]:
!pip install scikit-learn -U

Requirement already up-to-date: scikit-learn in c:\users\lenovo\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied, skipping upgrade: scipy>=1.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: numpy>=1.14.6 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.18.1)

In [115]:
from sklearn.metrics import mean_absolute_percentage_error

ImportError: cannot import name 'mean_absolute_percentage_error' from 'sklearn.metrics' (C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [116]:
mean_absolute_percentage_error(y_test, y_pred)

NameError: name 'mean_absolute_percentage_error' is not defined

In [91]:
regressor.score(x_train, y_train)

0.7697699488741149

In [93]:
regressor.score(x_test, y_test)

0.6354638433202131

In [89]:
from sklearn.metrics import r2_score

In [90]:
r2_score(y_test, y_pred)

0.6354638433202131

In [103]:
new = [[0.7258, 0, 8.64, 0,0.538, 5.727,69.5, 3.7965, 4,307, 22, 391.95, 11.28]]

In [104]:
new

[[0.7258, 0, 8.64, 0, 0.538, 5.727, 69.5, 3.7965, 4, 307, 22, 391.95, 11.28]]

In [105]:
regressor.predict(new)

array([17.54876858])

In [117]:
x.shape

(506, 13)